<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-worldflying-nativecode" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeCode</name>
    <js-module name="NativeCode" src="www/NativeCode.js">
        <clobbers target="cordova.plugins.NativeCode" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeCode">
                <param name="android-package" value="cn.worldflying.cordovaplugin.NativeCode" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/NativeCode.java" target-dir="src/cn/worldflying/cordovaplugin/NativeCode" />
        <source-file src="src/android/duyun/NativeSupport.java" target-dir="src/com/unisec/talkback" />
        <source-file src="src/android/duyun/Talkback.java" target-dir="src/com/unisec/talkback" />
        <lib-file src="src/android/duyun/libs/armeabi-v7a/libTalkback.so" arch="device" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
        <feature name="NativeCode"><param name="ios-package" value="NativeCode" />
        </feature>
        </config-file>
        <source-file src="src/ios/NativeCode.m" />
    </platform>
</plugin>